<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>Hmac secrets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav align-items-baseline">
            <li class="nav-item"><a href="hmacs.html" class="nav-link active">Hmac Secrets</a></li>
        </ul>
    </div>
</nav>
<section layout:fragment="content">
    <h1 class="m-2 m-sm-4">Hmac Secrets</h1>
    <table class="table m-2">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">secret</th>
            <th scope="col">manager id</th>
        </tr>
        </thead>
        <tr th:each="hmac : ${hmacs}">
            <th scope="row">
                <div th:text="${hmac.getId()}">0239922f-91d7-4869-9991-dd0ab978d94a</div>
            </th>
            <td>
                <div th:text="${hmac.getValue()}">xxxxxxxxxxxxxxxx</div>
            </td>
            <td>
                <div th:text="${hmac.getManagerId()}">75c24cd0-b609-4929-9680-c0f387dbf878</div>
            </td>
        </tr>
    </table>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>